@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<style>
    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
        font-weight: 900;
    }

    .nav > li:hover {
        border-bottom: 1px solid #ffffff;
    }

    a.btn-outline {
        box-shadow: 1px 1px 1px 1px #ffffff;
    }

    a.btn-outline {
        -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */
        animation: 4s infinite bgcolorchange;
    }

    @@keyframes bgcolorchange {
        0% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid #fff;
            color: #ffffff;
        }

        25% {
            box-shadow: 1px 1px 1px 1px #ffffff;
            border: 2px solid #fff;
            color: #ffffff;
        }

        50% {
            box-shadow: 1px 1px 1px 1px #ffffff;
            border: 2px solid #fff;
            color: #ffffff;
        }

        75% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid #fff;
            color: #ffffff;
        }

        100% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid #fff;
            color: #ffffff;
        }
    }
    /* Chrome, Safari, Opera */
    @@-webkit-keyframes bgcolorchange {
        0% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid red;
            color: red;
        }

        25% {
            box-shadow: 1px 1px 1px 1px #ffffff;
            border: 2px solid #fff;
            color: #ffffff;
        }

        50% {
            box-shadow: 1px 1px 1px 1px #ffffff;
            border: 2px solid #fff;
            color: #ffffff;
        }

        75% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid red;
            color: red;
        }

        100% {
            box-shadow: 1px 1px 1px 1px red;
            border: 2px solid #fff;
            color: #ffffff;
        }
    }
</style>

<div class="navbar navbar-inverse navbar-static-top" style="margin-bottom:0px;border-bottom:2px solid #ffffff;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"> <img src="~/img/lojour-logo-web.png" style="margin:30px 0px;" /></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" style="margin:20px 0 20px 40px;">

                <li><a asp-page="Privacy">Rent</a></li>
                <li><a asp-action="Rent" asp-controller="Property">Rent</a></li>
                <li>@Html.ActionLink("Rent", "Rent", "Property")</li>
                @*<li><a href="@Url.Action("Rent", "Property")">Rent</a></li>*@
                <li><a href="@Url.Action("Lease", "Property")">Lease</a></li>
                <li><a href="@Url.Action("Sale", "Property")">Sale</a></li>
                <li><a href="@Url.Action("Hostel", "Property")">Hostel</a></li>
                <li><a href="@Url.Action("ServicedApartment", "Property")">Serviced Apartment</a></li>
                <li><a href="@Url.Action("FindAHome", "Property")">Find a Home</a></li>
                @*<li><a href="/">Agents</a></li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin:20px 0 20px 40px;">
                <partial name="_LoginPartial" />
                <li class="submit-listing"><a class="btn-outline" href="@Url.Action("Request", "Property")">Request a Property</a></li>

            </ul>

        </div>
    </div>
</div>