@page
@model Exwhyzee.Lojour.Website.Areas.APanel.Pages.Property.DetailsRequestModel
@{
    Layout = "/Views/Shared/_ClientLayout.cshtml";
}



@using Exwhyzee.Lojour.Website.Extensions.Enums

<!-- page content -->
<style>
    .timeline .tags {
        position: absolute;
        top: 15px;
        left: 0;
        width: 150px;
    }

    .timeline .block {
        margin: 0 0 0 195px;
        border-left: 3px solid #e8e8e8;
        overflow: visible;
        padding: 10px 15px;
    }

    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }

        .rate:not(:checked) > input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked) > label {
            float: right;
            width: 1em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 30px;
            color: #27ad5f;
        }

            .rate:not(:checked) > label:before {
                content: '★ ';
            }

        .rate > input:checked ~ label {
            color: #27ad5f;
        }

        .rate:not(:checked) > label:hover,
        .rate:not(:checked) > label:hover ~ label {
            color: #27ad5f;
        }

        .rate > input:checked + label:hover,
        .rate > input:checked + label:hover ~ label,
        .rate > input:checked ~ label:hover,
        .rate > input:checked ~ label:hover ~ label,
        .rate > label:hover ~ input:checked ~ label {
            color: #27ad5f;
        }

    .form-group {
        border-bottom: 1px solid #27ad5f;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Property Request Details <small></small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">


                                <div class="form-horizontal form-label-left">

                                    <div class="row">
                                        <!--Raffle Properties-->
                                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                            <table class="table dataTable table-striped jambo_table bulk_action" border="1" id="table">
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.DateCreated)</th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.DateCreated)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.RequestId)</th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.RequestId)</td>
                                                </tr>
                                                <tr>

                                                    <th class="column-title">
                                                        @Html.DisplayNameFor(model => model.RequestPropertyDto.PropertyName)
                                                    </th>
                                                    <td>
                                                        @Html.DisplayFor(model => model.RequestPropertyDto.PropertyName)
                                                    </td>

                                                </tr>


                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.PhoneNumber) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.PhoneNumber)</td>
                                                </tr>

                                                <tr>
                                                    <th class="column-title">@Html.DisplayNameFor(model => model.RequestPropertyDto.Email) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.Email)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title">@Html.DisplayNameFor(model => model.RequestPropertyDto.ListType) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.ListType)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.Category) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.Category)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.Location) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.Location)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title">@Html.DisplayNameFor(model => model.RequestPropertyDto.LandMark) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.LandMark)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title">@Html.DisplayNameFor(model => model.RequestPropertyDto.Features) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.Features)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title">@Html.DisplayNameFor(model => model.RequestPropertyDto.AmountRange) </th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.AmountRange)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.AlertType)</th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.AlertType)</td>
                                                </tr>
                                                <tr>
                                                    <th class="column-title"> @Html.DisplayNameFor(model => model.RequestPropertyDto.AlertDuration)</th>
                                                    <td>@Html.DisplayFor(model => model.RequestPropertyDto.AlertDuration)</td>
                                                </tr>



                                            </table>


                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>